<%= form_with(model: bootstrap, local: true) do |form| %>
  <% if bootstrap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bootstrap.errors.count, "error") %> prohibited this bootstrap from being saved:</h2>

      <ul>
        <% bootstrap.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
